<div class="container-all">

  <br />
  <br />
  <h3 style="color:white; font-size:25px; font-weight:400;">Conoce a nuestro equipo de especialistas en bienestar</h3>
  <br />
  <mat-grid-list cols="3" rowHeight="3:1" gutterSize="16px" style="right:20px; height:350px;">
    <mat-grid-tile>
      <div class="content">
        <img class="imgProfesional" src='/assets/profesionales/profesional1.png' alt="profesional 1" />
        <hr />
        <br />
        <h4>Dr. Álvarez Montenegro</h4>
        <p>Director médico</p>
      </div>
    </mat-grid-tile>


    <mat-grid-tile>
      <div class="content">
        <img class="imgProfesional" src='/assets/profesionales/profesional2.png' alt="profesional 1" />
        <hr />
        <br />
        <h4>Isabel Mercado</h4>
        <p>Asesora jefe de bienestar</p>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="content">
        <img class="imgProfesional" src='/assets/profesionales/profesional3.png' alt="profesional 1" />
        <hr />
        <br />
        <h4>Olivia Gutiérrez</h4>
        <p>Director médico</p>
      </div>
    </mat-grid-tile>


  </mat-grid-list>
  <!--<div style="background-color:white; min-height:250px;height:auto; width:100%; margin-bottom:10px;">
    <img class="" style="display:flex; margin:0 auto;" src='/assets/profesionales/profeesional 1.png' alt="profesional 1" />
  </div>

  <div style="background-color: snow; min-height: 250px; height: auto; width: 100%;">
    <img class="" style="display:flex; margin:0 auto;" src='/assets/profesionales/profeesional 2.png' alt="profesional 2" />
  </div>-->



</div>


