<swiper-container loop="true">
  <swiper-slide lazy="true">
    <div style="width:100%; background-color:white;">

      <img src="assets/products/carrousel/img carrousel 1.png" alt="Imagen 1" loading="lazy">
    </div>
  </swiper-slide>
  <swiper-slide>
    <img src="assets/products/carrousel/img carrousel 2.png" alt="Imagen 2" loading="lazy">
  </swiper-slide>
  <swiper-slide>
    <img src="assets/products/carrousel/img carrousel 3.png" alt="Imagen 3" loading="lazy">
  </swiper-slide>
  <swiper-slide>
    <img src="assets/products/carrousel/img carrousel 4.png" alt="Imagen 4" loading="lazy">
  </swiper-slide>
</swiper-container>
