<div class="container-all">
  <div style="text-align:center;">
    <h2>
      Preguntas frecuentes
    </h2>
  </div>

  <mat-accordion style="opacity:0.7;">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p class="titulo">¿Cómo compro los productos del catálogo?</p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <p class="contenido">
          Puedes comprar productos del catálogo seleccionando el artículo deseado y añadiéndolo al carrito de compras. Luego, procedes al pago ingresando los detalles de envío y método de pago. Revisa el resumen del pedido antes de confirmar la compra para finalizar el proceso.
        </p>
      </mat-panel-description>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p class="titulo">¿Cómo reservo un turno con un médico? </p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <p class="contenido"> Para reservar un turno con un médico, contacta la clínica o consulta médica por teléfono o en línea. Proporciona tus datos personales, el motivo de la consulta y tu disponibilidad. Confirma el turno recibiendo una confirmación y asegúrate de llegar a tiempo el día programado.</p>
      </mat-panel-description>


    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p class="titulo">
            ¿Cómo puedo subscribirme a Bienestar360?
          </p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <p class="contenido">
          Puedes suscribirte a Bienestar360 visitando su sitio web oficial y buscando la sección de suscripción. Completa el formulario de registro con tu información personal y elige el plan de suscripción adecuado. Confirma el pago según las indicaciones y comienza a disfrutar de los beneficios del servicio.
        </p>
      </mat-panel-description>


    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p class="titulo">
            ¿Qué Beneficios tiene la subscripción?
          </p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <p class="contenido">
          La suscripción ofrece acceso a contenido exclusivo sobre bienestar, incluyendo guías de salud, consejos de expertos, y descuentos en servicios relacionados. Además, permite participar en eventos y recibir actualizaciones regulares sobre nuevas tendencias y prácticas saludables para mejorar el estilo de vida.
        </p>
      </mat-panel-description>


    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p class="titulo">
            Navega por el Catálogo
          </p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <p class="contenido">
          Dirígete a la sección de productos en nuestra página web y explora nuestro catálogo. Puedes utilizar los filtros para encontrar productos específicos.
        </p>
      </mat-panel-description>
    </mat-expansion-panel>

  

  </mat-accordion>

</div>



