<div>
  <mat-grid-list cols="2" rowHeight="400px" gutterSize="10px">

    <mat-grid-tile [colspan]="1" [rowspan]="1" class="grid-tile">
      <div style="display:flex; flex-direction:column;">
        <h3 style="height:60px; color:#7ff172;">La rutina facial que cuida la piel de adentro hacia fuera</h3>
        <p>Cuidar la piel del rostro es un acto de amor propio que combina la nutrición interna y los cuidados externos. </p>
        <a href="#">Descubre más</a>
        </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1" class="grid-tile">
      <div style="display:flex; flex-direction:column;">
        <h3 style="height:60px; color:#ff6a00;">10 hábitos de un estilo de vida saludable</h3>
        <p>Conoce la importancia de tener rutinas para tu cuidado personal. </p>
        <a href="#">Descubre más</a>
      </div> 
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1" class="grid-tile">
      <div style="object-fit:fill; object-position:center; ">
        <img src="assets/products/carrousel/img carrousel 1.png" alt="Imagen 1">
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1" class="grid-tile">
      <img src="assets/products/carrousel/img carrousel 2.png" alt="Imagen 2" >
    </mat-grid-tile>

  </mat-grid-list>

</div>
