<div>
  <mat-grid-list cols="4">
 
    <!-- Primer conjunto de imagen y texto -->
    <mat-grid-tile colspan="1" rowspan="1" >
      <div style="display:flex; flex-direction:column;" class="categoria">
        <img src="assets/products/categorias/tarrito.png" alt="Imagen 1">
        <br />
        <p>Cuidado del hogar</p>
      </div>
    </mat-grid-tile>

    <!-- Segundo conjunto de imagen y texto -->
    <mat-grid-tile colspan="1" rowspan="1">
      <div style="display:flex; flex-direction:column;" class="categoria">
        <img src="assets/products/categorias/crema.png" alt="Imagen 1">
        <br />
        <p>Nutrición</p>
      </div>
    </mat-grid-tile>

    <!-- Tercer conjunto de imagen y texto -->
    <mat-grid-tile colspan="1" rowspan="1">
      <div style="display:flex; flex-direction:column;" class="categoria">
        <img src="assets/products/categorias/labial.png" alt="Imagen 1">
        <br />
        <p>Belleza</p>
      </div>
    </mat-grid-tile>

    <!-- Cuarto conjunto de imagen y texto -->
    <mat-grid-tile colspan="1" rowspan="1">
      <div style="display:flex; flex-direction:column;" class="categoria">
        <img  src="assets/products/categorias/casita.png" alt="Imagen 1">
        <br />
        <p>Cuidado personal</p>
      </div>
    </mat-grid-tile>

 
  </mat-grid-list>
 

</div>
