<div class="container-all">
  <div style="text-align:center; color:white !important;">
    <h2>
      Contactos
    </h2>
  </div>

 
     
      <div style="position: relative; z-index: 10; color: white; font-weight: 400; font-size: 18px;">
        <h4>
          CANALES  DE  ATENCIÓN
        </h4>
        <p>
          Teléfono: 0800- 122 6543.
        </p>
        <p>
          Desde el exterior: 54 11 5789-0983
        </p>
        <p>
          Correo Servicio al Cliente
        </p>
        <p>
          Chat en línea desde nuestra pagina web
        </p>
      </div>
 


  <br />
 
      <div style="color:white; font-weight:400; font-size:18px;">
        <h4>
          HORARIOS
        </h4>
        <p>
          Lunes a viernes de 10:00 a.m a 07:00 p.m
        </p>
        <p>
          Sábado de 11:00 a.m a 03:00 p.m.
        </p>
        <p>
          Último día del mes: 11:00 am a 11:00 p.m.
        </p>

      </div>
   
  <br />
  <!--<div style="background-color: white; width: 100%; min-height: 300px; height: auto; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); ">
    <img class="" style="object-fit:fill; object-position:center; display:flex; margin:0 auto;" src='/assets/contacto/imagen contacto.png' alt="logo de linkedin" />
  </div>-->



</div>

<div style="background-color:white; width:100%; min-height:300px; height:auto;   border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
  <h3 style="margin:20px; color:#666; font-size:20px; font-weight:500;">Donde Estamos?</h3>
  <div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d210147.224392289!2d-60.75022081725133!3d-31.610657782604027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b5a95e07c2b62b%3A0x4c6d2e09e76f7d9a!2sSanta%20Fe%2C%20Argentina!5e0!3m2!1sen!2sar!4v1655583248966!5m2!1sen!2sar"
            allowfullscreen=""
            loading="lazy">
    </iframe>
  </div>
</div>
<br />
<div style="background-color:transparent; width:100%; min-height:300px; height:auto;">
  <h3  style="margin: 20px; color: #666; font-weight: 500; font-size: 20px;">Contáctanos</h3>
  <div class="contact-section">
    <div style="display:flex; flex-direction:column;">

      
      <p>Estamos aquí para ayudarte. Puedes ponerte en contacto con nosotros a través del siguiente formulario o llamándonos a nuestro número de teléfono.</p>
    </div>
    <form style="text-align:left;">
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="email">Correo Electrónico</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="message">Mensaje</label>
        <textarea id="message" name="message" rows="5" required></textarea>
      </div>
      <button type="submit" style="display:flex; margin:0 auto;">Enviar</button>
    </form>
  </div>
</div>
