<mat-grid-list cols="8"   >
  <mat-grid-tile colspan="1" rowspan="1">
  </mat-grid-tile>
  <mat-grid-tile colspan="6" rowspan="1.5">
    <div style="height: 280px; width: 100%;   display: flex; justify-content: center;   flex-wrap: wrap; padding-top: 30px; ">
      <div style="flex: 1;  ">
        <h4>MARCAS DESTACADAS</h4>
        <a href="#"><p>Nutrilite</p></a>
        <a href="#"><p>Artistry</p></a>
        <a href="#"><p>G&H</p></a>
        <a href="#"><p>Amway Home</p></a>
        <a href="#"><p>.</p></a>
      </div>
      <div style="flex: 1;">
        <h4>AYUDA</h4>
        <a href="#"><p>Centro de Ayuda</p></a>
        <a href="#"><p>Autorregistro</p></a>
        <a href="#"><p>Contacto</p></a>
        <a href="#"><p>Planeador de Compras</p></a>
        <a href="#"><p>Preguntas Frecuentes</p></a>
      </div>
      <div style="flex: 1;">
        <h4>COMPAÑÍA</h4>
        <a href="#"><p>Tu Oportunidad</p></a>
        <a href="#"><p>Trazabilidad</p></a>
        <a href="#"><p>Sala de Prensa</p></a>
        <a href="#"><p>Carrera en Amway</p></a>
        <a href="#"><p>Amway Global</p></a>
        <a href="#"><p>Latinamway</p></a>
      </div>
      <div style="flex: 1; height: 80px;">
        <h4>RECURSOS</h4>
        <a href="#"><p>Novedades</p></a>
        <a href="#"><p>Catálogo Digital</p></a>
        <a href="#"><p>Blog Amway Conecta</p></a>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
  </mat-grid-tile>

  <mat-grid-tile colspan="8" rowspan="1">
    <div style="height: 200px; width:90%;   display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <div style="display: flex; justify-content: center;">
        <!--<a href="https://www.linkedin.com/" style="margin: 20px;">
          <img class="imgLogoRed" src='/assets/redes/icono de linkedin.png' alt="logo de linkedin" />
        </a>
        <a href="https://x.com/" style="margin: 20px;">
          <img class="imgLogoRed" src='/assets/redes/icono de x.png' alt="logo de x" />
        </a>-->
        <a href="https://www.instagram.com/" style="margin: 20px;">
          <img class="imgLogoRed" src='/assets/redes/icono de instagram.png' alt="icono de instagram" />
        </a>
      </div>
      <div style="text-align: center; width:100%;">
        <p>Todos los derechos reservados Amway 2021 © Copyright Mapa del Sitio | Código de Etica CAVEDI | Términos de Uso</p>

      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
